<!DOCTYPE html>
<html>
<head>
    <title>Mo's Movies</title>
    <% include ../partials/header.ejs %>

    <script type="text/javascript" src="https://fb.me/react-0.13.3.js"></script>
</head>

<body style="background-color: #5F5F5F;">
    <div class="container" style="background-color: white;">
        <div id="c"></div>
    </div>
    <script type="text/javascript" src="/javascript/movies.js"></script>
</body>
</html>