<!DOCTYPE html>
<html>
<head>
    <title>Mo's Movies</title>
    <% include ../partials/header.ejs %>

    <script type="text/javascript" src="https://fb.me/react-0.13.3.js"></script>
</head>

<body class="movies-page">
    <div class="container">
        <div id="c"></div>
    </div>
    <script type="text/javascript" src="/javascript/movies.js"></script>
</body>
</html>